@import '../../styles/customMediaQueries.css';


.howItWorks {

  height: 100%;
  padding: 2em;
  background-color: var(--marketplaceColor);
}

.title {
  composes: h1 from global;
  margin-top: 0;
  color: white;
  display: flex;
  gap: 1em;
  align-items: center;
}

@media screen and (--viewportSmall) {
  .titleText {
    display: none;
  }
}

.steps {
  display: flex;
  flex-direction: column;

  @media (--viewportMedium) {

    flex-direction: row;
  }
}

.step {
  @media (--viewportMedium) {
    width: 324px;
    margin-right: 40px;
  }
}

.step:last-of-type {
  @media (--viewportMedium) {
    margin-right: 0;
  }
}

.stepTitle {
  margin-top: 18px;
  margin-bottom: 18px;
  color: white;

  @media (--viewportMedium) {
    margin-top: 21px;
    margin-bottom: 18px;
  }
}



.createListingLink {
  margin-top: 18px;


  @media (--viewportMedium) {
    margin-top: 24px;
  }
}
